<div class="container flex-row items-center justify-center">
  <div class="flex-spacing">
    <mat-card>
      <mat-card-title>Dashboard</mat-card-title>
      <mat-card-content>
        <div class="container" class="flex-row items-center justify-center">
          <h2>Welcome back!</h2>
        </div>

        <div class="container flex-row items-center justify-center">
          <div class="text-center no-records animate">
            <mat-icon>dashboard</mat-icon>
            <p>This is the dashboard.</p>
          </div>
          <mat-icon></mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
