$black: #000000;
$white: #ffffff;
$custom-primary: #689F38;
$custom-accent: #486689;
$custom-warn: #ff5722;

$finansaurus-primary: (
  50: '#edf3e7',
  100: '#d2e2c3',
  200: '#b4cf9c',
  300: '#95bc74',
  400: '#7fad56',
  500: $custom-primary,
  600: '#609732',
  700: '#558d2b',
  800: '#4b8324',
  900: '#3a7217',
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$finansaurus-accent: (
  50: '#e9edf1',
  100: '#c8d1dc',
  200: '#a4b3c4',
  300: '#7f94ac',
  400: '#637d9b',
  500: $custom-accent,
  600: '#415e81',
  700: '#385376',
  800: '#30496c',
  900: '#213859',
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$finansaurus-warn: (
  50: #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8965,
  400: #ff6f43,
  500: $custom-warn,
  600: #f4501e,
  700: #e64919,
  800: #d84215,
  900: #bf350c,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);
