<div class="container flex-row items-center justify-center">
  <div class="flex-spacing">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Accounts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" routerLink="/accounts/detail">
          <mat-icon>add</mat-icon>
          Add account
        </button>

        <br/>

        <table mat-table [dataSource]="accounts">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let account" data-label="name">{{account.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let account" data-label="total"
                      [ngClass]="account.amount >= 0 ? 'positive' : 'negative'">
              {{account.amount | currency:'EUR'}}
            </td>
            <td mat-footer-cell *matFooterCellDef style="font-weight: bold" [ngClass]="determineTotals() >= 0 ? 'positive' : 'negative'">{{determineTotals() | currency: 'EUR'}}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let account" data-label="actions">
              <button mat-icon-button routerLink="/accounts/detail/{{account.id}}" class="hide-mobile">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onDelete(account)" class="hide-mobile">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button class="hide-non-mobile"
                      [matMenuTriggerFor]="actions" [matMenuTriggerData]="{account: account}">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-menu #actions="matMenu">
  <ng-template matMenuContent let-account="account">
    <button mat-menu-item routerLink="/accounts/detail/{{account.id}}">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="onDelete(account)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
