<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        Finansaurus
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

      <mat-divider></mat-divider>

      <span mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>{{version}}</span>
      </span>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav"
    >
      <mat-nav-list>
        <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            dashboard
          </mat-icon>
          <div matListItemTitle>Dashboard</div>
        </mat-list-item>

        <mat-list-item [routerLink]="['/transactions']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            money
          </mat-icon>
          <div matListItemTitle>Transactions</div>
        </mat-list-item>

        <mat-list-item [routerLink]="['/balances']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            account_balance
          </mat-icon>
          <div matListItemTitle>Balance</div>
        </mat-list-item>

        <mat-list-item [routerLink]="['/accounts']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            account_balance_wallet
          </mat-icon>
          <div matListItemTitle>Accounts</div>
        </mat-list-item>

        <mat-list-item [routerLink]="['/categories']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            featured_play_list
          </mat-icon>
          <div matListItemTitle>Categories</div>
        </mat-list-item>

        <mat-list-item [routerLink]="['/payees']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            people
          </mat-icon>
          <div matListItemTitle>Payees</div>
        </mat-list-item>

        <mat-list-item id="push-bottom" [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon matListItemIcon>
            info_outline
          </mat-icon>
          <div matListItemTitle>About</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>

      <button color="primary" mat-fab class="bottom-right" routerLink="/transactions/detail">
        <mat-icon>add</mat-icon>
      </button>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
