<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>The Finansaurus project is a budgeting application that allows for entering transactions
          and budget those transactions per month.</p>
        <p>It makes use of the zero budgeting method, in which all transactions must be justified for each new
          period.</p>

        <p>Zero-based budgeting is a method that has you allocate all of your money to expenses, savings and debt
          payments. The goal is that your income minus your expenditures equals zero by the end of the month.
          <br>
          You can repeat expense categories and amounts every month or mix it up.
          <br>
          If you come in under budget in a certain category at the end of the month, add the remaining amount to next
          month’s budget or move it to another category, such as your emergency fund.
          <br>
          It’s the same concept as the envelope system, which involves distributing money for different expense
          categories into envelopes.
        </p>

        <h2>Why</h2>

        <p>Years ago, I used the YNAB4 application, but since it moved to a cloud based solution with a steep price, I decided to expand my Angular/Firebase knowledge and create
        an application myself.</p>

        <h2>Templates</h2>

        <p>
          Template based on
          <a
            href="https://onthecode.co.uk"
            target="_blank"
            aria-label="onthecode (opens in a new tab)"
          >onthecode</a
          >.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
