<div class="container flex-row items-center justify-center">
  <div class="flex-spacing">
    <mat-card appearance="outlined" *ngIf="!loading">
      <mat-card-header>
        <mat-card-title>Transactions</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <button mat-raised-button color="primary" routerLink="/transactions/detail">
          <mat-icon>add</mat-icon>
          Add transaction
        </button>

        <div>
          <mat-paginator #paginator
                         class="demo-paginator"
                         (page)="onPage($event)"
                         [pageSize]="pageSize"
                         [pageIndex]="pageIndex"
                         [length]="pageLength"
                         [pageSizeOptions]="pageSizeOptions"
                         [showFirstLastButtons]="true"
                         aria-label="Select page">
          </mat-paginator>
        </div>

        <table mat-table [dataSource]="datasource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</th>
            <td mat-cell *matCellDef="let transaction"
                      data-label="date">{{transaction.date | date: 'yyyy-MM-dd'}}</td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transaction" data-label="amount" [ngClass]="{
             'positive': transaction.type === 'IN',
            'negative': transaction.type === 'OUT' }">
              {{transaction.type === 'IN' ? '+' : '-'}} {{transaction.amount | currency:'EUR'}}
            </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let transaction"
                      data-label="category">{{categoryMap.get(transaction.categoryId)}}</td>
          </ng-container>

          <!-- Payee Column -->
          <ng-container matColumnDef="payee">
            <th mat-header-cell *matHeaderCellDef>Payee</th>
            <td mat-cell *matCellDef="let transaction" data-label="payee">{{payeeMap.get(transaction.payeeId)}}</td>
          </ng-container>

          <!-- Note Column -->
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef>Note</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.note}}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let transaction" data-label="actions">
              <button mat-icon-button routerLink="/transactions/detail/{{transaction.id}}">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onDelete(transaction)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
          <mat-paginator #paginator
                         class="demo-paginator"
                         (page)="onPage($event)"
                         [pageSize]="pageSize"
                         [pageIndex]="pageIndex"
                         [length]="pageLength"
                         [pageSizeOptions]="pageSizeOptions"
                         [showFirstLastButtons]="true"
                         aria-label="Select page">
          </mat-paginator>
        </div>

        <br>

        <button mat-raised-button color="primary" routerLink="/transactions/detail">
          <mat-icon>add</mat-icon>
          Add transaction
        </button>
      </mat-card-content>
    </mat-card>


    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
