.left-align {
  display: flex;
  justify-content: flex-end;
}

.parent-category {
  font-weight: bold;
}

.child-category {
  padding-left: 30px;
}

.link {
  text-decoration: underline;
}

.positive {
  color: #42cb4c;
}

.negative {
  color: #aa8cde;
}
