<div *ngIf="balance" style="margin-top: 10px;">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <div (click)="loadIncomingTransactions()">
        <p class="header">Income</p>
        <p class="text-center">{{balance.incoming | currency:'EUR'}}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p class="header">Budgeted</p>
        <p class="text-center">{{balance.budgeted | currency:'EUR'}}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p class="header">Available</p>
        <p class="text-center">
          <span [className]="balance.incoming - balance.budgeted >= 0 ? 'positive' : 'negative'">
    {{balance.incoming - balance.budgeted | currency:'EUR'}}
    </span>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button [matMenuTriggerFor]="actions">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <form>

    <table mat-table [dataSource]="generalCategories">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let category" [ngClass]="category.parent == null ? 'parent-category' : ''">{{category.name}}</td>
        <td mat-footer-cell *matFooterCellDef class="parent-category">Total</td>
      </ng-container>

      <!-- Budgeted Column -->
      <ng-container matColumnDef="budgeted">
        <th mat-header-cell *matHeaderCellDef>Budgeted</th>

        <td mat-cell *matCellDef="let category">
          <mat-form-field *ngIf="category.parent != null">
            <input matInput type="number" class="form-control"
                   value="{{findCategory(balance, category.id).budgeted}}"
                   (focusout)="onBudgetCategoryEnter(category.id, $event, category.name)">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef
                         class="parent-category">{{determineTotalBudgeted() | currency:'EUR'}}</td>
      </ng-container>

      <!-- Outflow Column -->
      <ng-container matColumnDef="outflow">
        <th mat-header-cell *matHeaderCellDef>Outflow</th>
        <td mat-cell *matCellDef="let category" >
          <ng-container *ngIf="category.parent != null" (click)="loadTransactions(category.id)">
            <a class="link"
               (click)="loadTransactions(category.id)">{{findCategory(balance, category.id).operations | currency:'EUR'}}</a>
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef
                         class="parent-category">{{determineTotalOperations() | currency:'EUR'}}</td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let category"
                  [ngClass]="determineBalanceForCategory(category.id) >= 0 ? 'positive' : 'negative'">
          <ng-container *ngIf="category.parent != null">
            {{determineBalanceForCategory(category.id) | currency:'EUR'}}
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef>{{determineTotalBalance() | currency:'EUR'}}</td>
      </ng-container>

      <ng-container matColumnDef="incomingLabel">
        <td mat-footer-cell *matFooterCellDef colspan="2" style="font-weight: bold">
          Incoming next month
        </td>
      </ng-container>

      <ng-container matColumnDef="empty">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="incoming">
        <td mat-footer-cell *matFooterCellDef
            [ngClass]="incomingNextMonth >= 0 ? 'positive' : 'negative'">
          {{incomingNextMonth | currency: 'EUR'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <td mat-footer-cell *matFooterCellDef
            [ngClass]="determineTotalBalance() - incomingNextMonth >= 0 ? 'positive' : 'negative'">
          = {{determineTotalBalance() + incomingNextMonth | currency: 'EUR'}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.parent == null ? 'parent-row' : ''"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['incomingLabel', 'empty', 'incoming']"></tr>
      <tr mat-footer-row *matFooterRowDef="['empty', 'empty', 'empty', 'total']"></tr>
    </table>
  </form>
</div>

<mat-menu #actions="matMenu">
  <button mat-menu-item (click)="onUsePreviousValues()">
    <mat-icon>input</mat-icon>
    <span>Use budget of previous month</span>
  </button>
</mat-menu>
