.link, .mat-mdc-cell .link {
  text-decoration: underline;
}

.positive {
  color: #42cb4c;
}

.negative {
  color: #aa8cde;
}

.header {
  font-weight: bold;
}

@media (max-width: 715px) {
  .header {
    height: 0;
  }

  mat-form-field {
    width: 50px;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-right: 0;
  }
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  border: none;
}

.parent-category {
  font-weight: bold;
}

.parent-row {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.12);
}

.grid-header {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 500;
}

.grid-parent {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

mat-form-field {
  padding-top: 5px;
}
