<div class="container flex-row items-center justify-center">
  <div class="flex-spacing">
    <mat-card appearance="outlined">
      <mat-card-header class="hide-mobile">
        <mat-card-title *ngIf="edit">Edit transaction</mat-card-title>
        <mat-card-title *ngIf="!edit">Add transaction</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <div class="text-center no-records animate">
            <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <mat-form-field>
                  <input placeholder="Date" required matInput [matDatepicker]="picker"
                         formControlName="date" (focus)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input required matInput [matAutocomplete]="payeeAutoComplete"
                         placeholder="Payee" formControlName="payee">
                </mat-form-field>

                <mat-autocomplete #payeeAutoComplete="matAutocomplete" (optionSelected)="onPayeeSelected()">
                  <mat-option *ngFor="let payee of filteredPayees" [value]="payee.name">
                    {{payee.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div>
                <mat-form-field>
                  <input required matInput [matAutocomplete]="categoryAutoComplete"
                         placeholder="Category" formControlName="category">
                </mat-form-field>

                <mat-autocomplete #categoryAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let category of filteredCategories" [value]="category.name">
                    {{category.name}}
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div>
                <mat-form-field>
                  <mat-select required placeholder="Account" formControlName="account">
                    <mat-option *ngFor="let account of accounts" [value]="account.id">
                      {{ account.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input type="number" placeholder="Amount" required matInput formControlName="amount">
                </mat-form-field>
              </div>

              <div class="type-row">
                <button *ngIf="isPositive()" mat-stroked-button (click)="onChangeType(transactionType.OUT)">
                  -
                </button>
                <button *ngIf="!isPositive()" mat-raised-button class="negative" (click)="onChangeType(transactionType.OUT)">
                  -
                </button>

                <button *ngIf="isPositive()" class="plus_button positive" mat-raised-button (click)="onChangeType(transactionType.IN)">
                  +
                </button>
                <button *ngIf="!isPositive()" class="plus_button" mat-stroked-button (click)="onChangeType(transactionType.IN)">
                  +
                </button>
              </div>

              <div>
                <mat-form-field>
                  <input placeholder="Note" matInput formControlName="note">
                </mat-form-field>
              </div>

              <div>
                <button mat-flat-button type="reset">
                  Reset
                </button>
                <button style="margin-left: 20px" mat-raised-button color="primary"
                        type="submit"
                        [disabled]="!transactionForm.valid">
                  {{edit ? 'Update' : 'Add'}}
                </button>
                <button style="margin-left: 20px" mat-raised-button color="accent"
                        (click)="onSubmit(true)"
                        [disabled]="!transactionForm.valid">
                  Add another
                </button>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
